<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Thong tin cua ban</title>
</head>
<body>
	<h1>Thong tin cua ban</h1>
	<table>
		
		<tr>
			<th>Họ tên</th>
			<td th:text="${user.name}"></td>
		</tr>
		
		<tr>
			<th>Tài khoản</th>
			<td th:text="${user.username}"></td>
		</tr>
		
		<tr>
			<th>Số điện thoại</th>
			<td th:text="${user.phone}"></td>
		</tr>
		
		<tr>
			<th>Giới tính</th>
			<td th:text="${user.gender}"></td>
		</tr>
		
		<tr>
			<th>Ảnh đại diện</th>
			<img style="width: 40px;" alt="" th:src="@{/img/avatarUser/__${user.avatar}__}">
		</tr>
	</table>
</body>
</html>